      
<!--========== BEGIN HEADER ==========-->
<header id="header" class="header-main">

  <!-- Begin Navbar -->
  <nav id="main-navbar" class="navbar navbar-default navbar-fixed-top" role="navigation"> <!-- Classes: navbar-default, navbar-inverse, navbar-fixed-top, navbar-fixed-bottom, navbar-transparent. Note: If you use non-transparent navbar, set "height: 98px;" to #header -->

    <div class="container">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand my-brand" href="#"><strong>GOLEMTRON</strong></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse text-center" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a class="page-scroll active" href="#">Packages</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav>
  <!-- End Navbar -->

</header>
<!-- ========= END HEADER =========-->

<div class="container-block text-center" id="team-container-two">
  <!-- ======================= -->

  <!-- Begin prices section -->
  <section id="" class="page">

    <!-- Begin page header-->
    <div class="container">
      <div class="text-center">
        <h2>Social Media Packages</h2>
        <div class=""></div>
        <p class="subtitle">Let us take you to the limelight!</p>
      </div>
    </div>
    <!-- End page header-->

    <div class="extra-space-l"></div>

    <!-- Begin prices -->
    <div class="prices">
      <div class="container">
        <div class="row">

          <div id="div-prices-container">

            <div id="div-prices-basic" class="price-box col-sm-6 col-md-3">
              <div class="panel panel-default">
                <div class="panel-heading text-center" id="prices-panel-default-heading">
                  <i class="fa fa-motorcycle fa-2x"></i>
                  <h3>Basic</h3>
                </div>
                <div class="panel-body text-center">
                  <p class="lead"><strong>$99</strong></p> per Month
                </div>
                <ul class="list-group text-center">
                  <li class="list-group-item">
                    <i class="fa fa-facebook-square fa-2x"></i>
                    <i class="fa fa-twitter-square fa-2x"></i>
                  </li>
                  <li class="list-group-item">3 postings per week</li>
                  <li class="list-group-item">Content Creation</li>
                  <li class="list-group-item">Increased Reach</li>
                  <li class="list-group-item">Monthly Progress Report</li>
                  <li class="list-group-item">No Setup Cost</li>
                </ul>
                <div class="panel-footer text-center">
                  <a id="btn-prices-basic" class="btn btn-custom">Order Now!</a>
                </div>
              </div>                    
            </div>

            <div id="div-prices-advanced" class="price-box col-sm-6 col-md-3">
              <div class="panel panel-default">
                <div class="panel-heading text-center" id="prices-panel-default-heading">
                  <i class="fa fa-car fa-2x"></i>
                  <h3>Advanced</h3>
                </div>
                <div class="panel-body text-center">
                  <p class="lead"><strong>$149</strong></p> per Month
                </div>
                <ul class="list-group text-center">
                  <li class="list-group-item">
                    <i class="fa fa-facebook-square fa-2x"></i>
                    <i class="fa fa-twitter-square fa-2x"></i>
                    <i class="fa fa-google-plus-square fa-2x"></i>
                  </li>
                  <li class="list-group-item">3 postings per week</li>
                  <li class="list-group-item">Content Creation</li>
                  <li class="list-group-item">Increased Reach</li>
                  <li class="list-group-item">Monthly Progress Report</li>
                  <li class="list-group-item">No Setup Cost</li>
                </ul>
                <div class="panel-footer text-center">
                  <a id="btn-prices-advanced" class="btn btn-custom">Order Now!</a>
                </div>
              </div>                    
            </div>

            <div id="div-prices-professional" class="price-box col-sm-6 price-box-featured col-md-3">
              <div class="panel panel-default">
                <div class="panel-heading text-center">
                  <i class="fa fa-rocket fa-2x"></i>
                  <h3>Professional</h3>
                </div>
                <div class="panel-body text-center">
                  <p class="lead"><strong>$199</strong></p> per Month
                </div>
                <ul class="list-group text-center">
                  <li class="list-group-item">
                    <i class="fa fa-facebook-square fa-2x"></i>
                    <i class="fa fa-twitter-square fa-2x"></i>
                    <i class="fa fa-google-plus-square fa-2x"></i>
                    <i class="fa fa-instagram fa-2x"></i>
                  </li>
                  <li class="list-group-item">5 postings per week</li>
                  <li class="list-group-item">Content Creation</li>
                  <li class="list-group-item">Increased Reach</li>
                  <li class="list-group-item">Monthly Progress Report</li>
                  <li class="list-group-item">No Setup Cost</li>
                </ul>
                <div class="panel-footer text-center">
                  <a id="btn-prices-professional" class="btn btn-custom">Order Now!</a>
                </div>
                <div class="price-box-ribbon"><strong>Popular</strong></div>
              </div>            
            </div>

            <div id="div-prices-ultimate" class="price-box col-sm-6 col-md-3">
              <div class="panel panel-default">
                <div class="panel-heading text-center" id="prices-panel-default-heading">
                  <i class="fa fa-fighter-jet fa-2x"></i>
                  <h3>Ultimate</h3>
                </div>
                <div class="panel-body text-center">
                  <p class="lead"><strong>$249</strong></p> per Month
                </div>
                <ul class="list-group text-center">
                  <li class="list-group-item">
                    <i class="fa fa-facebook-square fa-2x"></i>
                    <i class="fa fa-twitter-square fa-2x"></i>
                    <i class="fa fa-google-plus-square fa-2x"></i>
                    <i class="fa fa-linkedin-square fa-2x"></i>
                    <i class="fa fa-pinterest-square fa-2x"></i>
                    <i class="fa fa-instagram fa-2x"></i>
                  </li>
                  <li class="list-group-item">7 postings per week</li>
                  <li class="list-group-item">Content Creation</li>
                  <li class="list-group-item">Increased Reach</li>
                  <li class="list-group-item">Monthly Progress Report</li>
                  <li class="list-group-item">No Setup Cost</li>
                </ul>
                <div class="panel-footer text-center">
                  <a id="btn-prices-ultimate" class="btn btn-custom social-icon">Order Now!</a>
                </div>
              </div>                    
            </div>

          </div>

          <div id="div-place-order" class="price-box col-md-12" hidden>
            <div class="panel panel-default">
              <div class="panel-heading text-center" id="prices-panel-default-heading">
                <i class="fa fa-fighter-jet fa-2x"></i>
                <h3>Place order</h3>
              </div>
              <div class="panel-body text-center">
                <!-- <p class="lead">We will contact you soon after you place an order</p> -->
                <h2>We will contact you soon after you place an order</h2>

              </div>
              <div class="contact-form">

                <!-- <form id="ajax-order-contact" method="post" action="php/order-form.php" role="form">
                  <div class="form-group">
                    <h4 id="order-type" class="text-center">Here</h4>
                    <input id="order-form-type" type="text" name="type" required hidden>
                    <input id="order-form-name" type="text" class="form-control input-lg text-center" name="name" placeholder="Your Name" required>
                  </div>
                  <div  class="form-group">
                    <input id="order-form-address" type="email" class="form-control input-lg text-center" name="email" placeholder="E-mail" required>
                  </div>

                  <div class="panel-footer text-center">
                   <button id="btn-place-order" type="submit" name="btn-place-order" value="submit" class="btn btn-custom btn-block">Place Order</button>
                   <br>
                   <div id="order_messages" class="text-center"></div>
                   <br>
                 </div>
               </form> -->
               <%= form_for @message do |f| %>
               <div class="form-group">
                 <h4 id="order-type" class="text-center">Here</h4>
                 <%= f.hidden_field :content, :value => "Please contact me for my order." %>
                 <%= f.hidden_field :subject, class: 'form-control input-lg text-center', placeholder: 'Type of Order',id: 'order-form-type', required: 'true'%>
                 <%= f.text_field :name, class: 'form-control input-lg text-center', placeholder: 'Your Name',id: 'order-form-name', required: 'true'%>
               </div>
               <div class="form-group">
                 <%= f.email_field :email, class: 'form-control input-lg text-center', placeholder: 'Your Email Address',id: 'order-form-address',required: 'true' %>
               </div>
               <div class="panel-footer text-center">
                 <%= f.submit 'Send', class: 'btn btn-custom btn-block', id: 'btn-place-order' %>
                 <br>
                 <div id="order_messages" class="text-center"></div>
                 <br>

                 <% end %>


               </div>  



             </div>                    
           </div>

           <div class="order-success">
             <h2 id="successful-order" class="text-center" hidden>Your order was placed, someone from our team would shortly get in touch with you.</h2>
           </div>

         </div> <!-- /.row -->
       </div> <!-- /.container -->
     </div>
     <!-- End prices -->
     <!-- <div class="extra-space-l"></div> -->
   </section>




   <!-- =================== -->

 </div>


 <div class="footer">
  <div class="container-block text-center">
    <p class="copyright">Golemtron &copy; 2016</p>
  </div>
</div>

<!-- 

<% if @message.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@message.errors.count, "error")} prohibited this message from being sent:" %>
      </h2>

      <ul>
        <% @message.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      <ul>
    </div>
  <% end %> -->