<!DOCTYPE html>
<html>
<head>
  <title>Golemtron - Editor View</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <meta name="description" content="Golemtron provides creative solutions for your business problems. From software solutions to branding and marketing, we got it all covered." />
  <meta name="keywords" content="Golemtron, Social Media Marketing, SEO, Development, Automation, Programming, Software Solutions, E-Commerece Solutions, Android Development, IOS Development, Mobile Apps Development, Web Development, Desktop Applications, Scalable Software" /> -->
  <meta name="author" content="golemtron.com" />

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'editors', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

    <%= render 'layouts/editor_navbar' %>
    <%= yield %>

    </div>
    <!-- /#wrapper -->

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
